body {
    padding: 0;
    margin: 0;
}

#toolbar {
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 0.5em;
}

#current-folder {
    float: left;
    color: #fff;
    background: #333;
    padding: 0.5em 1em;
    min-width: 40em;
    border-radius: 1em;
}